.card {
    background-color: rgba(47, 47, 47, 0.9); /* Fundo semitransparente */
    border: 1px solid #0b3d91;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
    position: relative;
    overflow: hidden;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.9);
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
  }
  
  .card img:hover {
    transform: scale(1.1);
  }
  